@{
}

<link rel="stylesheet" href="@(Url.Content("~/css/Comment.css"))" />


<div class="commentsTitle">댓글</div>
<div class="comments" id="comments">
    <div class="best">
    </div>
    <div class="comment" id="comment2729206" aid="436182" uid="113189" cid="2729206" pid="" gid="2729206">
        <div class="main ">
            <div class="userImage" style="background-image: url('/assets/userImage.svg');"></div>
            <div class="commentWrapper">
                <div class="info">
                    <div class="left">
                        <div class="nickName">
                            <div class="text"><span>udup3a</span> </div>
                        </div>
                        <div class="counts">
                            <div class="datetime">13분전</div>
                        </div>
                    </div>
                </div>
                <div class="commentContent" id="commentContent">
                    <div>독깨는 더 밝게 웃는다 독깨깨깨깨</div>
                </div>
                <div class="commentContainer" id="commentEtc"></div>
            </div>
        </div>
    </div>
    <div class="comment" id="comment2729227" aid="436182" uid="5984" cid="2729227" pid="" gid="2729227">
        <div class="main ">
            <div class="userImage" style="background-image: url('https://resources.chimhaha.net/userImage/1684735646573-zdogeu3aaoi.jpg');"></div>
            <div class="commentWrapper">
                <div class="info">
                    <div class="left">
                        <div class="nickName">
                            <div class="text"><span>침촉한침덩이</span> </div>
                        </div>
                        <div class="counts">
                            <div class="datetime">8분전</div>
                        </div>
                    </div>
                </div>
                <div class="commentContent" id="commentContent">
                    <div>키크니 작가님 너무 좋음</div>
                    <div><a href="https://www.instagram.com/keykney?igsh=MWE2eHVoYzR5N2YxMw==" target="_blank">https://www.instagram.com/keykney?igsh=MWE2eHVoYzR5N2YxMw==</a></div>
                </div>
                <div class="commentContainer" id="commentEtc"></div>
            </div>
        </div>
    </div>
    <div class="comment" id="comment2729236" aid="436182" uid="12467" cid="2729236" pid="" gid="2729236">
        <div class="main ">
            <div class="userImage" style="background-image: url('https://resources.chimhaha.net/userImage/1670602025274-7h5j39qqkkj.jpg');"></div>
            <div class="commentWrapper">
                <div class="info">
                    <div class="left">
                        <div class="nickName">
                            <div class="text"><span>겨울잔디</span> </div>
                        </div>
                        <div class="counts">
                            <div class="datetime">4분전</div>
                        </div>
                    </div>
                </div>
                <div class="commentContent" id="commentContent">
                    <div>행복한게 중요한거죠</div>
                </div>
                <div class="commentContainer" id="commentEtc"></div>
            </div>
        </div>
    </div>
</div>
<div class="commentContainer" id="newComment">
    <div class="contentContainer">
        <div class="commentInput">
            <div class="commentContent">
                <textarea disabled="" name="content" placeholder="로그인 해주세요"></textarea>
            </div>
            <div class="submit"><button type="button" onclick="login(event);">로그인</button></div>
        </div>
    </div>
</div>