<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 짭하하</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3" style="width: 100%">
            <div style="width: 950px; padding-left: 0px;" class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="flex-direction: row-reverse">
                        <li class="nav-item">
                            @if (string.IsNullOrEmpty(this.ViewContext.HttpContext.Request.Cookies["Authorization"]))
                            {
                                <a class="nav-link text-dark" id="loginLink" asp-controller="Credentials" asp-action="Login">로그인</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="Credentials" asp-action="Logout">로그아웃</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">회원가입</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="logo" style="display: flex; align-items: center; justify-content: center">
            <a href="/" class="nav-link text-dark">
                <h1 class="display-4" style="font-family: GangwonEduPowerExtraBoldA; font-size:42px; font-weight: 700;">짭하하</h1>
            </a>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding: 0">
            <div class="container-fluid" style="background-color: #1ca8afc8">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @await Component.InvokeAsync("BoardList")
                        
                        
                    </ul>
                </div>
            </div>
        </nav>

        
    </header>
    <div class="container" style="width: 950px">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="wrap">
            <div class="guide"></div>
            <a class="darkmode" style="color: white" href="#">다크모드</a>
            <div class="license">
                <a href="#">서비스 이용약관</a>|<a href="#">개인정보 보호정책</a>|<a href="#">청소년 보호정책</a>
            </div>
            <div class="license">
                Copyright<span class="bold">©짭하하</span>All rights reserved.
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea#detail'
        });
    </script>
    <script>
        var currentUrl = window.location.href;

        if (document.getElementById("loginLink")) {
            document.getElementById("loginLink").href += "?ReturnUrl=" + encodeURIComponent(currentUrl);
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
