@{
    ViewData["Title"] = "짭하하";
}

<article id="list">
    <div class="stream">
        <div class="youtube">
            <h2>
                <a href="https://www.youtube.com/@@ChimChakMan_Official/videos" target="_blank">최신 침투부</a>
            </h2>
            <div class="you-video"><iframe style="height:100%; width: 100%;" src="https://www.youtube.com/embed/jNQXAC9IVRw?si=k1zYLftzllWHykXi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        </div>
        <div class="youtube">
            <h2>
                <a href="https://www.youtube.com/playlist?list=PLa-pNFfK2krIr5v-N2BMi_pCcQTICFyFP" target="_blank">침착맨 라이브</a>
            </h2>
            <div class="you-video"><iframe style="height:100%; width: 100%;" src="https://www.youtube.com/embed/y-SlF70H00M?si=CSEdv6wASSp4PVOb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        </div>
    </div>
    <partial name="../PopularPost/Index.cshtml" model=Model />
</article>
