@{
    ViewData["Title"] = "짭하하";
}

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello World!</p>
    <p>@Model</p>
</div>
